<?xml version="1.0" encoding="utf-8" standalone="no"?><manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.drms.drms_drone" platformBuildVersionCode="25" platformBuildVersionName="7.1.1">
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-feature android:name="android.hardware.usb.host" android:required="true"/>
    <meta-data android:name="android.support.VERSION" android:value="25.3.1"/>
    <application android:allowBackup="true" android:icon="@drawable/appicon" android:label="@string/app_name" android:name="com.drms.drms_drone.MultiData" android:roundIcon="@drawable/appicon" android:supportsRtl="true" android:theme="@style/AppTheme">
        <activity android:name="com.drms.drms_drone.Activity.MainActivity" android:screenOrientation="landscape" android:theme="@style/Theme.AppCompat.SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="com.drms.drms_drone.Activity.DroneMainActivity" android:screenOrientation="landscape" android:theme="@style/Theme.AppCompat.DroneMainTheme"/>
        <activity android:name="com.drms.drms_drone.Activity.ProgrammingDroneActivity" android:screenOrientation="landscape" android:theme="@style/Theme.AppCompat.DroneMainTheme"/>
        <activity android:name="com.drms.drms_drone.Communication.ClassicBluetooth.DeviceListActivity" android:screenOrientation="landscape"/>
        <activity android:name="com.drms.drms_drone.Controller.DroneController.JoystickActivity" android:screenOrientation="landscape" android:theme="@style/Theme.AppCompat.JoystickTheme"/>
        <activity android:name="com.drms.drms_drone.Controller.DroneController.JoystickSettingActivity" android:screenOrientation="landscape" android:theme="@style/Theme.AppCompat.Translucent2"/>
        <activity android:name="com.drms.drms_drone.Controller.MultiSetting.DroneSettingActivity" android:screenOrientation="landscape" android:theme="@style/Theme.AppCompat.DroneMainTheme"/>
        <activity android:name="com.drms.drms_drone.Controller.DroneController.WaitActivity" android:screenOrientation="landscape" android:theme="@style/Theme.AppCompat.Translucent2"/>
        <activity android:name="com.drms.drms_drone.Activity.CheckPermissionActivity" android:screenOrientation="landscape"/>
        <activity android:name="com.drms.drms_drone.Upload.UploadSelectedActivity" android:screenOrientation="landscape" android:theme="@style/Theme.AppCompat.DroneMainTheme"/>
        <service android:enabled="true" android:exported="false" android:name="com.drms.drms_drone.Service.BTService"/>
        <service android:enabled="true" android:exported="false" android:name="com.drms.drms_drone.Communication.UsbSerial.UsbService"/>
        <provider android:authorities="com.drms.drms_drone.provider" android:exported="false" android:grantUriPermissions="true" android:name="android.support.v4.content.FileProvider">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/provider_paths"/>
        </provider>
        <meta-data android:name="com.android.vending.derived.apk.id" android:value="1"/>
    </application>
</manifest>