.container {
    display:flex;
}
.search {  
    flex: 1;  
  }

  li {
      /* padding :10px!important; */
  }
  .container > li {  
    flex: 1;  
  }
  @media all and (max-width: 800px) {  
    
    .container {  
      flex-wrap: wrap;  
    }  
      
    .container > li {  
      flex-basis: 50%;  
    }
  
  }
  @media all and (max-width: 400px) {  
    .container > li {  
      flex-basis: 100%;  
    }  
    .search {  
      order: 1;  
    }  
  }